<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
  <h2> Hogwarts </h2>
  <nav>
    <a href="/hogwarts">All Students|</a>
    <a href="/hogwarts/new">New Student</a>
  </nav>
  <%= yield %>
</body>
</html>
